.wraperPage {
    display: flex;
    border: 2px solid black;
    height: 500px;
    width: auto;
}

.category {
      border: 1px solid black;
    height: 30px;
    margin: 10px;
}

.btn {
    height: 30px;
    margin: 10px;
}