doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= title
  include  ../includes/bootstrap
  link(rel="stylesheet", href="css/headmenu.css")
  link(rel="stylesheet", href="css/categories.css")

include  ../includes/menu
h1= title

.pageWraper.border.border-4.container-fluid.row-cols-auto
  .categoriesWraper.border-bottom.border-4.row.row-cols-auto.container-fluid
  //- button.btn.btn-primary Add category
  button.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal') Add category

  //модальное окно добавления категории
  #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Create category
            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
          .modal-body
            
              form(action= "http://localhost:3005/createNewCategory", name= "createCategory", method= "post")
                .mb-3
                  label.form-label(for= 'nameCategory') Name the category
                  input#nameCategory.form-control(name= 'nameCategory', value='', type= 'text', aria-describedby= 'nameCategorylHelp')
                  #nameCategorylHelp.form-text Enter the title
                .mb-3
                  label.form-label(for='colorCategory') Category color
                  input#colorCategory.form-control(name='colorCategory',  value='#000000',  type='color', aria-describedby='colorCategoryHelp')
                  #colorCategoryHelp.form-text Choose a color
                .mb-3.form-check
                  input#enabledOnMain.form-check-input(name='enabledOnMain', checked, type='checkbox')
                  label.form-check-label(for='enabledOnMain') Display on homepage
                button.btn.btn-primary(type='submit', data-bs-dismiss='modal', aria-label='Close') Save category

          //- .modal-footer
          //-   button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
          //-   button.btn.btn-primary(type='button') Save changes



script(src="js/categories.js") 