doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= title
  include  ../includes/bootstrap
  link(rel="stylesheet", href="css/headmenu.css")
  link(rel="stylesheet", href="css/categories.css")

include  ../includes/menu
h1= title

.pageWraper.border.border-4
  .categoriesWraper.border-bottom.border-4
  //- button.btn.btn-primary Add category
  button.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal') Add category

  //модальное окно добавления категории
  #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Modal title
            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes



script(src="js/categories.js") 