.header.border-bottom
  .logo
    img(src="images/koshelek.png", alt="LOGO").logoimage
  nav
   ul.nav  
    each elem in menu
      li.nav-items.border.border-2.nav-link(route= elem.menuRout)= elem.menuItemTitle

script(src="js/headmenu.js") 